/**Universal Styles**/
html {
  font-size: 18px;
  padding: 0;
  height: auto;
}



header {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
  background-color: black;
}

main {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

#products .flex-container {
  background-color: firebrick;
}

.flex-container {
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  justify-content: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

.logo-container {
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  align-items: center;
  overflow: hidden;
}

/**Header**/
.title-header {
  font-family: Helvetica, sans-serif;
  font size: 1rem;
  justify-content: flex-start;
}

#title {
  background-color: black;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

#header {
  background-position: center;
  background-size: cover;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/logo.png");
  background-repeat: no-repeat;
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  max-width: 100%;
  overflow: hidden;
}

#logo .flex-container {
  align-items; center;
  justify-content: flex-start;
}

/**Banner**/
.banner-title {
  display: flex;
  flex-flow: column;
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  margin-top: 9rem;
}

#banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  height: 25rem;
  width: 100%;
  overflow: hidden;
}

#new-arrival {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

#sport-bikes {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

/**Navigation**/
#product-list {
  display: flex;
  background-color: firebrick;
  color: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: space-around;
  margin-bottom: 3rem;
  width: 100%;
  overflow: hidden;
}

.mobile-navigation {
  display: none;
}
/**Product Container**/

.container, .container2 {
  display: flex;
}

.container {
  width: 30%;
  justify-content: center;
  height: 13rem;
  border: 4px solid black;
}

.container2 {
  width: 30%;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 3rem;
}

.images {
  align-items: center;
  height: 13rem;
  width: 9rem;
  background-size: cover;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  max-width: 100%;
}

/**Stock Photos**/
#pen {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/pen.png");
}

#watch {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/watch.png");
}

#glasses {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/glasses.png");
}

/**Location and Hours Container**/
.info-container {
  display: flex;
  background-color: black;
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 35%;
  justify-content: space-between;
}

.container3 {
  display: flex;
  justify-content: space-between;
  width: 35%;
  background-color: transparent;
  padding-bottom: 4rem;
}

/**Footer**/


.footer-container {
  display: flex;
  background-color: black;
  background-size: cover;
  background-position: center;
  width: 960px;
  height: 5rem;
  color: white;
  align-items: center;
  justify-content: flex-start;
}

/**Media Queries**/

/**Screens less than width of 1024**/
@media only screen and (max-width: 1024) {
  .container {
    width: 47%;
    }
  .container3 {
    width: 35%;
    }

}
/** Desktop**/
@media only screen and (min-width: 1600px) {

}

/**Less than 470px**/
@media only screen and (max-width: 470px) {
  #new-arrival {
    font-family: Helvetica;
    font-size: 0.77rem;
    font-weight: bold;
    }

  #sport-bikes {
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: bold;
    }

  .banner-title {
    width: 100%;
    padding: 1rem;
    margin-top: 10rem;
    padding-left: 2rem;
    }

  .footer-container {
    width: auto;
    height: 5rem;
    align-items: center;
    justify-content: center;
    }

  .container3 {
    width: 90%;
    }

  .container {
      width: 90%;
    }

  #product-list {
      width: 100%;
      margin-top: 15rem;
    }

  .mobile-navigation {
    display: block;
    text-align: center;
    }
}
